<div style="margin-top: 2%;" class="container">
    <div style="justify-content: center;background-color: width; margin-left: 2%;" class="col-10 card">
        <div class="row">
            <div class="col-8" style="margin-left: 2%; margin-top: 2%;">
                <b>Yetenekler</b>
            </div>
            <div class="col-2" style=" margin-top: 2%; margin-left: 5.5%;">
                <i class="fa fa-plus" (click)="newAbilities()" style="cursor: pointer;" aria-hidden="true"></i>
            </div>

        </div>

        <div class="row" style="margin-top: 5%; margin-left: 2%;" #userDetail>
            <div *ngFor="let abilities of abilitiesModel" class="col-12 container row">
                <div class="col-9">
                    <b>{{abilities.abilitiesName}}</b>
                    <hr>
                </div>
                <div class="col-1">
                    <i style="cursor: pointer;" (click)="openAbilitiesEdit(abilities.id)" class="fa fa-pencil"></i>

                </div>
            </div>


        </div>
    </div>
</div>

<app-abilities-edit (cancel-event)="onCloseAbilitiesEdit()" [bindForEdit]="abilitiesId" [bindForEditUserId]="userId"
    *ngIf="abilitiesEditVisible"></app-abilities-edit>