<div style="margin-top: 2%;" class="container">
    <div style="justify-content: center;background-color: width; margin-left: 2%;" class="col-10 card">
        <div style="margin-left: 2%;">
            foto ve background gelecek
        </div>
        <div class="row" style="margin-top: 15%; margin-left: 2%;" #userDetail>
            <div class="col-8">
                <b style="font-size: 20px;">{{userModel.name}} {{userModel.surName}}</b>
                <br>
                {{userModel.job}}
                <br>
                <i style="opacity:0.7;">{{userModel.cityName}},{{userModel.districtName}}</i>
            </div>
            <div class="col-4">
                <b>{{userModel.company}}</b>
            </div>
        </div>
    </div>
</div>
<app-experience></app-experience>
<app-education></app-education>
<app-abilities></app-abilities>