<div style="margin-top: 2%;" class="container">
    <div style="justify-content: center;background-color: width; margin-left: 2%;" class="col-10 card">
        <div class="row">
            <div class="col-8" style="margin-left: 2%; margin-top: 2%;">
                <b>Deneyim</b>
            </div>
            <div class="col-2" style=" margin-top: 2%; margin-left: 5.5%;">
                <i class="fa fa-plus" (click)="newExperience()" style="cursor: pointer;" aria-hidden="true"></i>
            </div>

        </div>

        <div class="row" style="margin-top: 5%; margin-left: 2%;" #userDetail>
            <div *ngFor="let exp of experienceModel" class="col-12 container row">
                <div class="col-9">
                    <b>{{exp.title}}</b>
                    <br>
                    {{exp.sector}}
                    <br>
                    {{exp.companyName}}
                    <br>
                    {{exp.comment}}
                    <hr>
                </div>
                <div class="col-1">
                    <i style="cursor: pointer;" (click)="openExperinceEdit(exp.id)" class="fa fa-pencil"></i>

                </div>
            </div>


        </div>
    </div>
</div>

<app-experience-edit (cancel-event)="onCloseExperinceEdit()" [bindForEdit]="experienceId" [bindForEditUserId]="userId"
    *ngIf="experienceEditVisible"></app-experience-edit>