<div style="margin-top: 2%;" class="container">
    <div style="justify-content: center;background-color: width; margin-left: 2%;" class="col-10 card">
        <div class="row">
            <div class="col-9" style="margin-left: 2%; margin-top: 2%;">
                <b>Deneyim</b>
            </div>
            <div class="col-1" style="margin-left: 2%; margin-top: 2%;">
                <i class="fa fa-plus" (click)="openExperinceEdit()" style="cursor: pointer;" aria-hidden="true"></i>
            </div>

        </div>

        <div class="row" style="margin-top: 15%; margin-left: 2%;" #userDetail>
            <div class="col-8">
                <br>
                <br>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div>

<app-experience-edit (cancel-event)="onCloseExperinceEdit()" [bindForEdit]="experienceId" [bindForEditUserId]="userId"
    *ngIf="experienceEditVisible"></app-experience-edit>